{% extends 'base.html' %} {% load static %} {% block content %}
<div style="padding: 2rem 2rem 2rem 2rem; background-color: lightgray">  
    <div style="text-align: center"><br><br>
      <h5 style="color: navyblue; font-size: 60px; display: block;
      text-align: left;">About Us</h5>
    </div><br>
  <br />
  <div style="display: flex; justify-content: center">
    <img src="{% static '/assets/img/byulogo.png'%}" height="300" />
  </div>
  <br /><br />
    <h2 style="font-size: 40px">Our Purpose</h2>
  <br />
  <h5 style="text-align: center">
    To display the top clothing from the BYU store so customers can find exactly
    what they are looking for. We strive to improve the life of BYU students and
    fans by bringing together all of their favorite BYU swag into one place.
  </h5>
  <br /><br /><br />
  <h5 style="text-align: center">
    "It's about drive, it's about power, we stay hungry we devour, put in the
    work, put in the hours, and take what's ours." <br />- Dwayne "The Rock"
    Johnson
  </h5><br><br>
</div>
{%endblock%}
