{% extends 'base.html' %} {% load static %} {% block content %}
<body id="page-top">
    <!-- Navigation-->
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">The Official BYU Swag Database</div>
            <div class="masthead-heading text-uppercase"><h6>You have come to the right place!</h6></div>
            <div style="display: flex; justify-content: space-evenly">
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'add' %}">Add Clothing</a>
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'ranking' %}">View Swag</a>
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'about' %}">Tell Me More</a>
            </div>
        </div>
    </header>
</body>
{% endblock %}